html, body
  margin: 0
  padding: 20px
  font-family: monospace
  background: #fff

#text
  font-size: 20px
  font-family: monospace
  width: 400px
  height: 300px
  outline: none

#buttons
  display: block

#downloadlink
  padding: 40px 0

#colorButtons
  margin: 30px 0 10px 0
  button
    cursor: pointer
    border: 0
    width: 23px
    height: 23px
    margin-right: 1px
    border-radius: 3px
    outline: none
    &:active
      border: 1px solid black

.colorTile
  background: red