doctype html
html
  head
    meta(charset='utf-8')
    title C64 gradient generator for Photoshop
    link(rel='stylesheet', href='css/styles.css')
  body
    h1 C64 gradient generator for Photoshop
    p © 2016 Digger/Elysium
    br
    p Type gradient ramp strings into the box below (or click [Populate] button for demo strings), then hit [Generate] and download your .json file.
    p Luminance sort is done automatically, so no need to worry.
    p Then use <a href="http://www.tonton-pixel.com/blog/scripts/utility-scripts/generate-gradients-file/#download" target="_blank">this script</a> to generate .grd from .json file using Photoshop scripts.
    #colorButtons
    textarea#text
    #buttons
      button#populate Populate
      &nbsp;
      button#generate Generate!
    a#downloadlink(download="gradients.json" style="display: none") Download .json file
    script(src='js/log.js')
    script(src='js/color-utils.js')
    script(src='js/palettes.js')
    script(src='js/filesaver.js')
    script(src='js/main.js')